---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div data-button-config={JSON.stringify(config)}></div>

<script>
  import { initSafeButtons } from "../../builders/button";
  initSafeButtons();
</script>
