---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div
  data-component="map"
  data-variant={config.metadata.variant}
>
  <div data-map-config={JSON.stringify(config)} data-map-container></div>
</div>

<script>
  import { initSafeMaps } from "../../builders/map";
  initSafeMaps();
</script>
