---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div data-dragdrop-config={JSON.stringify(config)}></div>

<script>
  import { initSafeDragDrops } from "../../builders/dragdrop";
  initSafeDragDrops();
</script>
