---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div data-picker-config={JSON.stringify(config)}></div>

<script>
  import { initSafePickers } from "../../builders/picker";
  initSafePickers();
</script>
