---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div data-funnel-config={JSON.stringify(config)}></div>

<script>
  import { initSafeFunnels } from "../../builders/funnel";
  initSafeFunnels();
</script>
