---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div data-callout-config={JSON.stringify(config)}></div>

<script>
  import { initSafeCallouts } from "../../builders/callout";
  initSafeCallouts();
</script>
