---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div data-toggle-config={JSON.stringify(config)}></div>

<script>
  import { initSafeToggles } from "../../builders/toggle";
  initSafeToggles();
</script>
