---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div data-columns-config={JSON.stringify(config)}></div>

<script>
  import { initSafeColumnsAll } from "../../builders/columns";
  initSafeColumnsAll();
</script>
