---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div data-nav-config={JSON.stringify(config)} data-nav-host></div>

<script>
  import { initSafeNavs } from "../../builders/nav";
  initSafeNavs();
</script>
