---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div
  data-component="chart"
  data-variant={config.metadata.variant}
  data-chart-type={config.metadata.chartType}
>
  <div data-role="title">{config.metadata.title || "Chart"}</div>
  <div data-chart-area>
    <canvas data-chart-config={JSON.stringify(config)}></canvas>
  </div>
</div>

<script>
  import { initSafeCharts } from "../../builders/chart";
  initSafeCharts();
</script>
