---
import type { ConfigBase, OnSafeEvent } from 'safecontracts';
interface Props { config: ConfigBase; onEvent?: OnSafeEvent; }
const { config } = Astro.props;
---

<div data-chat-config={JSON.stringify(config)}></div>

<script>
  import { initSafeChats } from "../../builders/chat";
  initSafeChats();
</script>
